.dark-active {
    filter: invert(1) hue-rotate(180deg);
    background-color: #282828;
}

.dark-active .darkMode {
    filter: none !important;
}


/*Start of ChessStart*/
.header-medium {
  font-family: "yes", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.header-chess, #CHESS {
  display: flex;
  align-items: center; 
  justify-content: center; 
  margin-top: -50px;
  font-family: "kanit", sans-serif;
  font-size: 31px; 
}
img[alt="ChessLogo"] {
  width: 70px; 
  height: auto;
}

.blocks {
  display: flex;          
  gap: 40px;              
  margin-left: 60px;      
}

.darkMode {
    margin-top: -129px;
    margin-left: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    width: 160px;
    height: 70px;
    font-family: "Kanit", sans-serif;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.darkMode h2 {
    position: relative;
    top: 15px; 
    text-align: center; 
}

.darkMode:hover {
    color: white;
    background-color: #282828;
    transform: translateY(11px);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.15);
} 


.smallBlack {
  background-color: #69923E;
  border-radius: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  width: 214px;
  height: 60px;
  font-family: "Kanit", sans-serif;
  transition: transform 0.2s ease, box-shadow 0.2s ease;

  position: absolute;
  top: 10px;
  left: 990px;
} 

.smallBlack:hover {
    background-color: #7fb64d;
    transform: translateY(10px);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.15);
}

.smallBlack h2 {
    color: black;
    text-align: center;
}

.block {
  margin-top : 60px;
  background-color: #69923E;
  border-radius: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  padding: 30px 45px;
  width: 100px;
  height: 300px;
  font-family: "Kanit", sans-serif;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.block:hover {
  background-color: #7fb64d;
  transform: translateY(-20px);
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.15);
}

.block h2, a{
    margin-top: -10px;
    color: black;
    text-align: center;
    text-decoration: none;
}
.block p {
    color: black;
    text-align: left;
    margin-top: -10px;
    margin-right: 0px;
    margin-left: -10px;
    font-family: 'Kanit', sans-serif;
}
 
/*End of ChessStart*/
/*Start of Basics and History and Tactics*/

.BasicsHistory h1{
  display: flex;
  align-items: center; 
  justify-content: center; 
  font-family:'Kanit', sans-serif; 
  font-size: 44px;
}

.ContentBlocks {
    display: flex;
    gap: 40px;
    justify-content: center;
    margin-top: 40px;
    flex-wrap: nowrap; 
}

.blockInfo {
  background-color: #69923E;
  border-radius: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  padding: 30px 45px;
  width: 130px;
  height: 250px;
  font-family: "Kanit", sans-serif;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.blockInfo h2 {
    margin-top: -20px;
    color: black;
    text-align: center;
    text-decoration: none;
}

.blockInfo p {
    color: black;
    text-align: left;
    margin-top: -10px;
    margin-right: -30px;
    margin-left: -30px;
    font-family: 'Kanit', sans-serif;
}
img2 {
  width: 100px;
  height: 100px;
  color: black;
}
